$--color:#fff;
//button
$--button-background-color: transparent;
$--button-border-color: #4b5375;
$--button-color: #fff;
$--button-hover-background-color: transparent;
$--button-hover-border-color: #60b0ff;
$--button-focus-background-color: #2d6acd;
$--button-focus-color: $--color;
$--button-disabled-background-color: #181e39;
$--button-disabled-border-color: #32395b;
$--button-disabled-color: #616884;
$--button-hover-color: #60b0ff;
$--enhance-button-hover-color: #60b0ff;
$--enhance-button-focus-color: #2d6acd;
$--enhance-button-color: #3399ff;
$--button-focus-hover-border-color: #60b0ff;